@model IntranetProdCr.Models.Usuario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsNombre1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsNombre1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsNombre2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsNombre2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsNombre3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsNombre3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsApellido1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsApellido1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsApellido2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsApellido2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsJefe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsJefe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsGerencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsGerencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCambio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsTerminos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsTerminos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmCodigoNavigation.EmCodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsCodigo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
